.hero {
	position: relative;
	padding: 130px 0;
}

.background {
	position: absolute;
	top: 0;
    right: 0;
    left: 0;
    bottom: 0;
	z-index: -1;}

.foreground {
	z-index: 1;
	color: #fff;
}

.hero-title {
	max-width: 450px;
}

.hero-text {
	max-width: 500px;
}