.nav {
	width: 360px;
	font-weight: bold;
	font-size: $global-font-size - 4px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	&-item {
		position: relative;
		color: $main-color;
		padding: 0 3px;
		&.is-active {
			color: $accent-color;
		}
		&.is-active:after {
			content: "";
			display: block;
			background-color: $accent-color;
			width: 100%;
			height: 3px;
			position: absolute;
			top: 37px;
			cursor: default;
		}
		&:hover {
			color: $accent-color;
		}
		&:hover:after {
			content: "";
			display: block;
			background-color: $accent-color;
			width: 100%;
			height: 3px;
			position: absolute;
			top: 37px;
		}
	}
}

/* burger menu */
.burger-wrapper{
	display: none;
    max-width: 200px;
    background-color: transparent;
    position: relative;
    color: white;
    text-align: center;
    height: 50px;
    border-radius: 50%;
}

.burger-line{
    position: absolute;
    top: 13px;
    right: 10px;
    width: 30px;
    height: 5px;
    border-radius: 20%;
    background-color: $accent-color;
    transition: .5s all;
}

.second, .third{
    top: 23px;
}

.fourth{
    top: 33px;
}


@media (max-width: 640px) {
  .burger-wrapper {
    display: block;
  }
  .nav {
		display: none;
	}
}



